

<h2 class = "col-md-4">Here are the details</h2>

<table class = "table table-bordered mt-5">
    <tr>
    <th>Name</th>
    <th>Email</th>
    </tr>
    <tr>
    <th><%=@user.name%></th>
    <th><%=@user.email%></th>
    </tr>
